<div class="view view--full">
	<div class="quote-font layout layout--row">
		<div class="stretch-y value-small value--xxxlarge text--gray-40" >
			“
		</div>
		{% if trmnl.plugin_settings.custom_fields_values.quote_size == "10" %}
		<div class="value--xsmall value--large text--black" data-value-fit="true" data-value-fit-max-height="100">
		{% elsif trmnl.plugin_settings.custom_fields_values.quote_size == "20" %}
		<div class="value-small value--xxlarge text--black" data-value-fit="true" data-value-fit-max-height="280">
		{% elsif trmnl.plugin_settings.custom_fields_values.quote_size == "30" %}
		<div class="value-small value--xxxlarge text--black" data-value-fit="true" data-value-fit-max-height="400">
		{% else %}
		<div class="value--xsmall value--large text--black" data-value-fit="true" data-value-fit-max-height="100">
		{% endif %}
			<span class="quote-font" id="quote">
			Priorities are like arms. If you think you have more than a couple, you're either lying or crazy.
			</span>
		</div>
		<div class="stretch-y text--gray-40">
			<div class="layout layout--col layout--stretch-y" >
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div class="text--gray-40 value-small value--xxxlarge">”</div>
			</div>
		</div>
	</div>
	{{ wisdom_quote_footer }}
</div>