<div class="screen">
	<div class="view">
		<div class="layout layout--col layout--stretch">
			<div class="flex flex--row value-xxsmall value text--black" data-value-fit="true" data-value-fit-max-height="100">
				<span class="quote-font" id="quote">
				Related: for any idea that strikes you as irrelevant or dumb or wrong or antithetical to your own experiences and sensibilities, please consider that it may not be, as we say, for you. The reader is encouraged to ignore or reject any ideas that they find undesirable.
				</span>
			</div>
		</div>
	</div>
</div>
<div class="title_bar">
	<img class="image" src="https://raw.githubusercontent.com/VisualYeti/wisdom_trmnl/refs/heads/main/WisdomIcon.png" alt="Wisdom Project Quotes">
	<span class="title">Quotes from The Wisdom Project<br/>Merlin Mann — <a href="http://wisdom.limo">wisdom.limo</a></span>
</div>
<style>
	.quote-mark {
		font-size: 60px;
		margin-bottom: -40px;
	}
	.quote-mark-top {
		margin-bottom: -80px;
	}
	.quote-mark-top-box {
		margin-top: -60px;
	}
	.quote-mark-bottom {
		padding-right: 20px;
	}
	.quote-mark-bottom-box {
		margin-bottom: -20px;
	}
</style>