<div class="view--quadrant">
	<div class="layout layout--col layout--stretch">
		<div class="flex flex--row flex--left quote-mark-top-box">
			<div class="quote-font quote-mark quote-mark-top text--gray-40">“</div>
		</div>
		<div class="flex flex--row flex-stretch-y value-xxsmall value-small text--black" data-value-fit="true" data-value-fit-max-height="100">
			<p><span class="quote-font" id="quote">
			Related: for any idea that strikes you as irrelevant or dumb or wrong or antithetical to your own experiences and sensibilities, please consider that it may not be, as we say, for you. The reader is encouraged to ignore or reject any ideas that they find undesirable.
			</span></p>
		</div>
		<div class="flex flex--row flex--right quote-mark-bottom-box">
			<div class="quote-font quote-mark quote-mark-bottom text--gray-40">”</div>
		</div>
	</div>
	{{ wisdom_quote_footer_short }}
</div>
<style>
	.quote-mark {
		font-size: 60px;
		margin-bottom: -20px;
	}
	.quote-mark-top {
		margin-bottom: -20px;
	}
	.quote-mark-top-box {
		margin-top: -20px;
	}
	.quote-mark-bottom {
		padding-right: 20px;
	}
	.quote-mark-bottom-box {
		margin-bottom: -20px;
	}
</style>