<div class="view view--quadrant">
	<div class="quote-font layout layout--row">
		<div class="quote-mark-top stretch-y value--small value--large text--gray-40" >
			“
		</div>
		<div id="quote" class="value--small value--xlarge text--black" data-value-fit="true" data-value-fit-max-height="180">
			Priorities are like arms. If you think you have more than a couple, you're either lying or crazy.
		</div>
		<div class="stretch-y text--gray-40">
			<div class="layout layout--col layout--stretch-y" >
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div class="quote-mark-bottom text--gray-40 value--small value--large">”</div>
			</div>
		</div>
	</div>
	{{ wisdom_quote_footer_short }}
</div>
<style>
	.quote-mark-top {
		margin-top: -.1em;
	}
	.quote-mark-bottom {
		margin-bottom: -.1em;
	}
</style>